In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [9]:
df = pd.read_csv('./bank1/bank.csv' , delimiter = ',')
df.shape

(4521, 1)

In [10]:
missing_values = df.isnull().mean()*100

missing_values.sum()

np.float64(0.0)

In [11]:
df.isnull().sum()

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    0
dtype: int64

In [12]:

df.nunique()

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    4521
dtype: int64

In [13]:

df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

In [14]:
# Check variable data types
df.dtypes

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    object
dtype: object

In [15]:
# Split Train, test data
df_train = df.sample(frac=0.8,random_state=200)
df_test = df.drop(df_train.index)
print(len(df_train))
print(len(df_test))

3617
904

In [16]:

# Resulting Data Frame
df_train.head()

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
3825  32;"technician";"married";"secondary";"yes";4;...
3936  34;"management";"married";"tertiary";"no";3050...
2826  39;"management";"married";"tertiary";"no";763;...
1503  56;"retired";"married";"secondary";"no";-113;"...
748   35;"entrepreneur";"married";"primary";"no";264...

In [23]:
value_counts = df['default'].value_counts()

value_counts.plot.bar(title = 'Default value counts')

KeyError: 'default'